
html {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

body{
  margin:0px;
}

/*logo code*/

.nav__logo img {
  height: 65px;
  width:150px;
  margin-left: 125px;
  margin-top: 0px;
  float: left;
}

/*navigation baar*/

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 65px;
    margin: 0 20px;
}

.nav__topbar {
  height: 50px;
  width: 800px;
  margin-left: 400px;
}


.nav__topbar a {
    clear: right;
    text-decoration: none;
    color: 	black;
    line-height: 50px;
    margin-left: 20px;
}

label {
    margin: 0 14vw 0 0;
    font-size: 50px;
    display: none;
    width: 26px;
    float: right;
    color:#0099ff;
}

#toggle {
    display: none;
}


@media only screen and (max-width: 1200px) {
    label {
        display: block;
        cursor: pointer;
        display: inherit;
    }
    .nav__topbar {
        text-align: center;
        width: 100%;
        display: none;
        margin-left: 0px;
    }

    .nav__logo img {
      height: 65px;
      width: 150px;
      margin-left: 7vw;
      margin-top: 0px;
      float: left;
    }

    .nav__topbar a {
        background-color: #0099ff !important;
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0px !important;
    }

    #toggle:checked + .nav__topbar {
        display: block;
        position: relative;
    }
}

/*nav bar ends here*/
/*work introduction code starts here*/

.workbox{
  width: 850px;
  margin-left: 250px;
  display: grid;
  grid-template-areas: "x y";
  grid-template-columns: 400px 500px;
  grid-template-rows: 330px;
}

.workbox__intro {
  grid-area: x;
}

.workbox__intro-work {
  font-weight: 700;
  font-size: 36px;
  margin-top: 60px;
}

.workbox__intro-desc {
  color: 	#A8A8A8;
  width: 400px;
  font-size: 18px;
  line-height: 25px;
}

.workbox__cover {
  grid-area: y;
}

.workbox__cover img {
  width: 480px;
  height: 330px;
}

/*work introduction code ends here*/

/*Table oF Contents code starts here*/

.toccontent {
  border: 1px solid #F8F8F8;
  background-color: #F8F8F8;
  min-height: 1100px;
  height: auto;
}

.toccontent__content{
  margin-left: 260px;
  font-size: 30px;
  font-weight: 600;
  margin-top: 60px;
}

.toccontent__accordion{
  margin-top: 40px;
  background-color: #FFFFFF;
  width: 600px;
  height: 65px;
  margin-left: 250px;
  border-radius: 5px 5px 0 0;
  box-shadow: 4px 4px #F5F5F5;
  margin-top: 25px;
}

#accordion1 {
  margin-bottom: 100px;
}

.accordion__content  {

  background-color: white;
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  width: 600px;
  margin-left: 250px;

}

.accordion__content::before{
  display: none;
}


.toccontent__item1-logo1 img{
  display: inline;
  width: 35px;
  height: 35px;

}

.toccontent__item1-text1 {
  position: relative;
  top: -10px;
  left: 15px;
  font-size: 18px;
}

.toccontent__item2-text2 {
  position: relative;
  top: -10px;
  left: 15px;
  font-size: 18px;
}

/*Table oF Contents code ends here*/


/*Footer Code starts Here*/

.footer {
  background-color: #4682B4;
  min-height: 300px;
}

.footer__layout {
  display :grid;
  grid-template-areas: "a b c d e f";
  grid-template-columns:  15% 15% 15% 15% 15% 15%;
  grid-template-rows: 300px;
}

.footer__layout-contact{
  grid-area: a;
  margin-left: 140px;
  width: 200px;
  margin-top: 40px;
}

.footer__layout-contact .footer__layout-phone {
  text-decoration: none;
  position: relative;
  top: -10px;
  left: 10px;
  color: white;
}

.footer__layout-contact .footer__layout-email {
  text-decoration: none;
  position: relative;
  top: -10px;
  left: 10px;
  color: white;
}

.footer__layout-contact img{
  width: 30px;
  height: 30px;
}

/*Email and Phone Code ends here*/

.footer__layout-social img{
  width: 30px;
  height: 30px;
} /*social media icons size are Controlled by this*/


.footer__layout-service{
  grid-area: b;
  margin-left: 190px;
  width: 120px;
  color: white;
  margin-top: 35px;
}

.footer__layout-service #service--services {
  font-size: 14px;
  position: relative;
  bottom: 10px;
}

/*Fonts properties are Controlled by this*/
.footer__layout a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}
/*Fonts properties are Controlled by this*/

.footer__layout-learn{
  grid-area: c;
  margin-left: 170px;
  width: 100px;
  color: white;
  margin-top: 35px;
}

.footer__layout-learn #learn--services {
  font-size: 14px;
  position: relative;
  bottom: 10px;
}

.footer__layout-company{
  grid-area: d;
  margin-left: 120px;
  width: 100px;
  color: white;
  margin-top: 35px;
}

.footer__layout-company #company--services {
  font-size: 14px;
  position: relative;
  bottom: 10px;
}

.footer__layout-location{
  grid-area: e;
  margin-left: 120px;
  width: 100px;
  color: white;
  margin-top: 35px;
}

.footer__layout-location #location--services {
  font-size: 14px;
  position: relative;
  bottom: 10px;
}

.footer__layout-social{
  grid-area: f;
  margin-left: 120px;
  width: 200px;
  margin-top: 18px;
}

.footer__layout-social .footer__layout-facebook {
  text-decoration: none;
  position: relative;
  top: -10px;
  left: 10px;
  color: white;
}

.footer__layout-social .footer__layout-twitter {
  text-decoration: none;
  position: relative;
  top: -10px;
  left: 10px;
  color: white;
}

.footer__layout-social .footer__layout-linkedin {
  text-decoration: none;
  position: relative;
  top: -10px;
  left: 10px;
  color: white;
}


.footer__layout-social .footer__layout-youtube {
  text-decoration: none;
  position: relative;
  top: -10px;
  left: 10px;
  color: white;
}

.footer__layout-social .footer__layout-github {
  text-decoration: none;
  position: relative;
  top: -10px;
  left: 10px;
  color: white;
}

.footer__layout-fbbox{
  margin-top: 20px;
}

.footer__layout-twitterbox{
  margin-top: -12px;
}

.footer__layout-linkedinbox{
  margin-top: -12px;
}

.footer__layout-youtubebox{
  margin-top: -12px;
}

.footer__layout-githubbox{
  margin-top: -12px;
}

.footer__layout-social #social--services {
  font-size: 15px;
  color: white;
  margin-top: 17px;
}

/*Footer Code ends Here*/

@media only screen and (min-width:750px) and (max-width:1200px) {
  .workbox{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .workbox__intro {
    font-size: 18px;
  }

  .workbox__intro-work {
    font-weight: 700;
    font-size: 2em;
    margin-top: 60px;
  }

  .workbox__intro-desc {
    color: 	#A8A8A8;
    width: 32vw;
    font-size: 1em;
    line-height: 25px;
  }

  .workbox__cover img {
    width: 370px;

  }

  .toccontent {
    background-color: #F8F8F8;
  }

.toccontent__content{
    margin-left: 26vw;
    font-size: 3em;
    font-weight: 600;
    margin-top: 60px;
  }

  .toccontent__accordion{
    margin-top: 40px;
    background-color: #FFFFFF;
    width: 90%;
    height: 65px;
    margin: 0 50px;
    border-radius: 5px 5px 0 0;
    box-shadow: 4px 4px #F5F5F5;
    margin-top: 25px;
    max-width: 1100px
  }



  .accordion__content {
    background-color: white;
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    width: 90%;
    margin: 0 50px;
    max-width:1100px;
  }

  .item1 .toccontent__item1-logo1 img{
    display: inline;
    width: 35px;
    height: 35px;
    margin-left: 25px;
    margin-top: 12px;
  }

  .item1 .toccontent__item1-text1 {
    position: relative;
    top: -10px;
    left: 15px;
    font-size: 1.8em;
  }

  .toccontent__item2-text2 {
    position: relative;
    top: -10px;
    left: 15px;
    font-size: 1.8em;
  }

  .footer__layout {
    display :grid;
    grid-template-areas: "a b"
                         "c d"
                         "e f";
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 250px 250px;
    min-height: 810px;
  }

  .footer__layout-contact{
    grid-area: a;
    margin: 40px 180px 0 150px;
    width: 50%;
  }

  .footer__layout-service{
    grid-area: b;
    margin: 35px 40px 0 190px;
    width: 50%;
    color: white;
  }

  .footer__layout-learn{
    grid-area: c;
    margin: 35px 0px 0 220px;
    color: white;
  }

  .footer__layout-company{
    grid-area: d;
    margin: 35px 40px 0 190px;
    width: 50%;
    color: white;

  }

  .footer__layout-location{
    grid-area: e;
    margin: 35px 0px 0 220px;
    color: white;
  }

  .footer__layout-social{
    grid-area: f;
    margin: 22px 40px 0 190px;
    width: 50%;
  }
}


@media only screen and (max-width:749px) {
  .workbox{
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .workbox__intro {
    font-size: 18px; /*Setting size in parent element to use EM*/
  }

  .workbox__intro-work {
    font-weight: 700;
    font-size: 2em;
    margin-top: 60px;
    text-align: center;
  }

  .workbox__intro-desc {
    color: 	#A8A8A8;
    width: 300px;
    text-align: center;
    font-size: 1em;
    line-height: 20px;
  }



  .workbox__cover img {
    width: 350px;
    height: auto;
  }

  .toccontent {
    position: relative;
    background-color: #F8F8F8;
    font-size: 10px;
    height: auto;
    min-height: 1100px;
    top: 25px;
  }

  .toccontent__content{
    margin-left: 20vw;
    font-size: 2.8em;
    font-weight: 600;
    margin-top: 60px;
  }

  .toccontent__accordion
  {
    background-color: #FFFFFF;
    width: 90%;
    height: 65px;
    margin: 0 15px;
    border-radius: 5px 5px 0 0;
    box-shadow: 4px 4px #F5F5F5;
    margin-top: 25px;
    max-width: 610px;
  }

  .accordion__content {
    background-color: white;
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    width: 90%;
    margin: 0 15px;
    max-width: 610px;
  }

  .toccontent__item1 {
    margin-top: 40px;
    background-color: #FFFFFF;
    width: 60vw;
    height: 65px;
    margin-left: 20vw;
    border-radius: 5px;
    box-shadow: 4px 4px #F5F5F5;
  }

   .toccontent__item1-logo1 img{
    display: inline;
    width: 35px;
    height: 35px;
  }

   .toccontent__item1-text1 {
    position: relative;
    top: -10px;
    left: 1vw;
    font-size: 1.6em;
  }

  .toccontent__item2-text2 {
    position: relative;
    top: -10px;
    left: 1vw;
    font-size: 1.6em;
  }

  .footer{
    position: relative;
  }

.footer__layout {
  display :flex;
  flex-wrap: wrap;
}

.footer__layout-contact{
  margin-left: 9vw;
  width: 80vw;
  margin-top: 40px;
  height: 100px;
}

.footer__layout-service{
  margin-left: 34vw;
  width: 35vw;
  color: white;
  margin-top: 75px;
}

.footer__layout-learn{
  margin-left: 42vw;
  width: 18vw;
  color: white;
  margin-top: 70px;
}

.footer__layout-company{
  margin-left: 35vw;
  width: 30vw;
  color: white;
  margin-top: 70px;
}

.footer__layout-location{
  margin-left: 35vw;
  width: 30vw;
  color: white;
  margin-top: 70px;
  position: relative;
  bottom: 20px;
}
.footer__layout span {
  text-align: center;
}

.footer__layout-social{
  margin-left: auto;
  margin-right: auto;
  max-width: 749px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  width: auto;
}

.footer__layout-social .footer__layout-text{
  display: none
}

  .footer__layout-fbbox {
    margin-top: -10px;
  }


.footer__layout-social img {
  width: 35px;
  height: 35px;
  margin-left: 2vw;
}

.footer__layout-social .footer__layout-facebook {
  display: none;
}

.footer__layout-social .footer__layout-twitter {
  display: none;
}

.footer__layout-social .footer__layout-linkedin {
  display: none;
}

.footer__layout-social .footer__layout-youtube {
  display: none;
}

.footer__layout-social .footer__layout-github {
  display: none;
  }
}


/*Accordian*/



button.toccontent__accordion{
  background-color: white;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 10px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.toccontent__accordion.is-open .fa {
  color: grey;
  font-size: 22px !important;
  position: relative;
  float: right;
  top: 10px;
  transform: rotate(-90deg);
}

button.toccontent__accordion:hover, button.toccontent__accordion.is-open {
  background-color: #FFFFFF;
  box-shadow: none;
}


.toccontent__doc1-logo1 img{
  height: 30px;
  width: 30px;
  margin-left: 50px;
  margin-top: 10px;
}

.toccontent__doc1-text1 {
  position: relative;
  top: -5px;
  left: 10px;
}


.fa {
  color: grey;
  font-size: 22px !important;
  position: relative;
  float: right;
  top: 10px;
  transform: rotate(90deg);
}
